:host {
  max-width: 90%;
  white-space: pre-line;
}

:host(.fromMe) {
  align-self: flex-end;
}

:host(:not(.fromMe)) {
  align-self: flex-start;
}

.fromMe {
  background-color: #cffdbc;
}

.notFromMe {
  background-color: #e7e3e3;
}

.message-box {
  padding: 0.5rem;
  border-radius: 0.5rem;
  overflow-wrap: break-word;

  img,
  video,
  audio {
    display: block;
    max-width: 70vw;
    max-height: 50vh;
    object-fit: contain;
  }
}
