:host {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 0;
  overflow: visible;
}

.scan-qr-btn {
  text-decoration: none;
  display: inline-block;
  padding: 10px 20px;
}

hr {
  width: 100px;
  margin: 2rem 0;
}

#chatroom {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 0;
  overflow: hidden;

  // #dialog {
  //   flex: 1;
  //   overflow: auto;
  //   display: flex;
  //   flex-direction: column;
  //   padding: 0 10px;

  //   #connected-msg {
  //     align-self: center;
  //     color: #777;
  //     font-size: 14px;
  //     padding: 10px;
  //   }
  // }

  #send-message {
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);

    textarea {
      outline: none;
      resize: none;
      flex: 1;
      border: 1px solid #000;
      height: 40px;
      border-radius: 20px;
      padding: 5px 20px;
      margin: 0 5px;
    }

    button {
      background: none;
      border: none;
      outline: none;
      padding: 5px;
      margin: 0 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: black;
    }
  }
}

#connect {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 20px;
  overflow-y: auto;
}

input[type="file"] {
  display: none;
}
