:host {
  flex: 1;
  min-height: 0;

  .intro {
    height: 100%;
    overflow-y: auto;

    .hero {
      position: relative;
      background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("/assets/images/hero.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      width: 100%;
      height: 100%;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      h1 {
        padding: 0 20px;
        color: white;
        font-weight: bold;
        margin-bottom: 2rem;
        text-align: center;
      }

      .slogan {
        font-size: 1.1rem;
        color: white;
        text-align: center;
        margin-bottom: 2rem;
      }

      button {
        all: unset;
        height: 40px;
        border-radius: 20px;
        padding: 0px 20px;
        background-color: #29a745;
        color: white;
      }

      .learn-more {
        display: none;
        cursor: pointer;
        position: absolute;
        bottom: 20px;
        margin: 0 auto;
        color: white;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @media screen and (min-height: 360px) {
          display: flex;
        }

        .learn-more-text {
          display: none;
          @media screen and (min-height: 440px) {
            display: block;
          }
        }
      }
    }

    section {
      padding: 40px 12px;
    }

    .center {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 40px;
    }
  }

  .app {
    min-height: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: visible;
  }
}

.scan-qr-btn {
  text-decoration: none;
  display: inline-block;
  padding: 10px 20px;
}

hr {
  width: 100px;
  margin: 2rem 0;
}

#chatroom {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 0;
  overflow: hidden;

  // #dialog {
  //   flex: 1;
  //   overflow: auto;
  //   display: flex;
  //   flex-direction: column;
  //   padding: 0 10px;

  //   #connected-msg {
  //     align-self: center;
  //     color: #777;
  //     font-size: 14px;
  //     padding: 10px;
  //   }
  // }

  #send-message {
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);

    textarea {
      outline: none;
      resize: none;
      flex: 1;
      border: 1px solid #000;
      height: 40px;
      border-radius: 20px;
      padding: 5px 20px;
      margin: 0 5px;
    }

    button {
      background: none;
      border: none;
      outline: none;
      padding: 5px;
      margin: 0 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: black;
    }
  }
}

#connect {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 20px;
  overflow-y: auto;
}

input[type="file"] {
  display: none;
}
