:host {
  flex: 1;
  overflow: auto;
  display: flex;
  flex-direction: column;
  padding: 0 10px;

  #connected-msg {
    align-self: center;
    color: #777;
    font-size: 14px;
    padding: 10px;
  }
}
