<header class="header">
  <a href="https://www.buymeacoffee.com/danielchan303" target="_blank">
    <picture>
      <source
        media="(min-width: 650px)"
        srcset="/assets/images/bmc-full-logo.svg"
      />
      <img
        src="/assets/images/bmc-logo.svg"
        alt="buy me a coffee"
        class="buy-me-a-coffee"
      />
    </picture>
  </a>
  <nav>LaLaSync</nav>
  <span
    *ngIf="isConnected"
    (click)="disconnect()"
    id="disconnect"
    class="material-symbols-outlined"
  >
    logout
  </span>
</header>
<router-outlet></router-outlet>
<!-- <div id="ads-overlay" *ngIf="showAds">
  <div id="ads-container">
    <ng-adsense
      adFormat="auto"
      className="adsbygoogle"
      adClient="ca-pub-7807917064284650"
      display="block"
      [adSlot]="4360147601"
      [fullWidthResponsive]="true"
    ></ng-adsense>
  </div>
  <span class="material-symbols-outlined" (click)="closeAds()"> close </span>
</div> -->
